.header {

    background: linear-gradient(to bottom, coral, white);
    text-align: center;
    font-size: 28px; 
    padding: 1rem 0;
    
    
    
}

.navegacion {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    
    
}

.navegacion a {

    font-size: 2.0rem;
    text-decoration: none;
    font-weight: 600;
    padding-right: 15px;
    font-family: sans-serif;
    font-style: oblique;
    
}

.navegacion a:hover{
    color: var(--primary);
    
}

.circuloinfo {
    
    

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    

    
    
}

.circuloinfo{
    position: relative;

}

